<script>
    $(document).ready(function() {
        validarServicios();
    });
</script>
<!-- Modal -->
<section>
    <div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Registro Servicio
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <form id="registroServicio" method="POST" action="/registro_servicio">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="nombre">Nombre Servicio(*)</label>
                            <input type="text" class="form-control" id="nombre" aria-describedby="nombreHelp" name="nombre" placeholder="Ingrese el nombre del servicio">
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="valor">Precio(*)</label>
                            <input type="number" class="form-control" id="valor" aria-describedby="valorHelp" name="valor" placeholder="Ingrese el precio del servicio">
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-text">Descripcion(*)</span>
                            <textarea type="text" rows="4" cols="20" class="form-control" id="descripcion" name="descripcion" placeholder="Ingrese Descripcion"> </textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="modal fade" id="modalActualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Actualizar Servicio
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <form id="ActualizaServicio" method="POST" action="/actualizaServicio">
                    <input type="hidden" id="externalServicio" name="externalServicio">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Apellidos">Nombre Servicio(*)</label>
                            <input type="text" class="form-control" id="nombreServicio" aria-describedby="nombreHelp" name="nombreServicio" placeholder="Ingrese el nombre del servicio">
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="Apellidos">Precio(*)</label>
                            <input type="number" class="form-control" id="valorServicio" aria-describedby="valorHelp" name="valorServicio" placeholder="Ingrese el precio del servicio">
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-text">Descripcion(*)</span>
                            <textarea type="text" rows="4" cols="20" class="form-control" id="descripcionServicio" name="descripcionServicio" placeholder="Ingrese Descripcion"> </textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card border-dark">
                    <div class="card-header text-white bg-dark">
                        <% title%>
                    </div>
                    <div class="card-body">
                        <!-- Button trigger modal -->
                        <br>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalRegistro">Nuevo</button>
                        <br>
                        <table class="table" id="tabla">
                            <thead>
                                <tr>
                                    <th scope="col">Nro</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Estado </th>
                                    <th scope="col">Descripcion </th>
                                    <th scope="col">Acciones </th>

                                </tr>
                            </thead>
                            <tbody id="tablatbody">
                                <% lista.forEach(function(item, index){%>
                                    <tr>
                                        <td>
                                            <%= (index + 1)%>
                                        </td>
                                        <td>
                                            <%= item.nombre%>
                                        </td>
                                        <td>
                                            <%= item.valor%>
                                        </td>
                                        <td>
                                            <%= item.estado%>
                                        </td>
                                        <td>
                                            <%= item.descripcion%>
                                        </td>
                                        <td>
                                            <form name="eliminarHistorialM" action="/eliminaServicio" method="POST">
                                                <input type="hidden" value="<%= item.id%>" id="externalDelete" name="externalDelete">
                                                <div class="btn-group">
                                                    <a href="#" data-toggle="modal" data-target="#modalActualizar" data-tooltip="tooltip" data-placement="top" title="Editar" class=" btn-info btn-sm bg-warning" onclick="llenarDatosServicio('<%= item.id %>')">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                                        <path fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                                                    </svg>
                                                        <i class="far fa-edit"></i></a>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-sm bg-danger ">
                                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-basket2-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" d="M5.929 1.757a.5.5 0 1 0-.858-.514L2.217 6H.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h.623l1.844 6.456A.75.75 0 0 0 3.69 15h8.622a.75.75 0 0 0 .722-.544L14.877 8h.623a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1.717L10.93 1.243a.5.5 0 1 0-.858.514L12.617 6H3.383L5.93 1.757zM4 10a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm3 0a1 1 0 0 1 2 0v2a1 1 0 1 1-2 0v-2zm4-1a1 1 0 0 0-1 1v2a1 1 0 1 0 2 0v-2a1 1 0 0 0-1-1z"/>
                                                    </svg>
                                                </button>
                                                </div>
                                            </form>
                                            <!-- 
                                            <div class="btn-group">
                                                <button type="button" data-toggle="modal" data-target="#modalActualizar" data-tooltip="tooltip" data-placement="top" title="Editar" class="btn-danger btn-sm" onclick="llenarDatosServicio('<%= item.id %>')"><i class="fa fa-edit"></i></button>
                                            </div>
                                            -->
                                        </td>
                                    </tr>
                                    <%})%>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>